<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639941208167-jdhbeecr12td0ujj51bosu9th8cpcs9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639941208167-jdhbeecr12td0ujj51bosu9th8cpcs9g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639941208167-hs3l5vmoel4qbh1akt3adq78h04l9rsp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoasGZWR8Gbf1BwHuyyLyfGAezhe_OMBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>639941208167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.ucb.semana.ti.catolica</string>
	<key>PROJECT_ID</key>
	<string>semana-ti-catolica</string>
	<key>STORAGE_BUCKET</key>
	<string>semana-ti-catolica.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639941208167:ios:97ac217d1c892739e80cc2</string>
	<key>DATABASE_URL</key>
	<string>https://semana-ti-catolica.firebaseio.com</string>
</dict>
</plist>